
.card {

    max-width: 22rem;
    max-height: 22rem;
    

    
}

.card-img-top {

    // background-image: url(../../Assets/arena-jumps.jpg);
    max-width: 50rem;
    
}

.card-body {

    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    display: flex;
}