:root {

    --sbPurple:#6f438e;
    --sbBlue:  #211e61;
    --sbGrey: #9e9e9e;
    --primary: #1888ff;
    
}

.navbar {
background: var(--sbBlue);
height: 6rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
border-bottom: var(--sbPurple) solid 5px;
box-shadow: 0 2px 10px black;
}

.navbar-logo {

color: var(--sbPurple);
justify-items: center;
justify-content: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;

}

img {

max-width: 150px;
height: auto;
padding: 0;
margin: 0;
/* z-index: 3; */



}


.nav-menu {
display: grid;
grid-template-columns: repeat(5, auto);
grid-gap: 10px;
list-style: none;
text-align: center;
max-width: 75vw;
justify-content: end;
margin-right: 2rem;
}

.nav-item {
display: flex;
align-items: center;
height: 55px;
}

.nav-links {
color: var(--sbGrey);
text-decoration: none;
padding: 2rem 0.5rem 1rem;
}

.nav-links:hover {
background-color: #1888ff;
border-radius: 5px;
transition: all 0.2s ease-out;
}

.fa-bars {
color: #fff;
}

.fa-angle-down {

color: var(--sbGrey);
}

.nav-links-mobile {
display: none;
}

.menu-icon {
display: none;
}

@media screen and (max-width: 1072px) {
.NavbarItems {
  position: relative;
}

.fa-angle-down {

  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 89vh;
  position: absolute;
  top: 6rem;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

img {
  
  height: auto;
  /* z-index: 3; */
  padding: 1px;

}

.nav-menu.active {
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 4;
}

.nav-links {
  text-align: center;
  width: 100%;
  display: table;
}

.nav-links:hover {
  background-color: var(--sbBlue);
  border-radius: 0;
}

.navbar-logo {
  position: absolute;
  top: 0;
  padding: 0;
  left: 0;
  transform: translate(25%, 50%);
}

img {
  max-width: 100px;
  height: auto;
  z-index: 2;

}

.logo {

  
  object-fit: contain;
  
}



.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.fa-times {
  color: #fff;
  font-size: 2rem;
}

.nav-links-mobile {
  display: block; 
  text-align: center;
  padding: 1.5rem;
  margin: 2rem auto;
  border-radius: 4px;
  width: 80%;
  background:var(--sbPurple);
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.nav-links-mobile:hover {
  background: #000;
  color: var(--sbPurple);
  transition: 250ms;
    }

.btn {
  display: none;
}

}