:root {

    --sbPurple:#6f438e;
    --sbBlue:  #211e61;
    --sbGrey: #9e9e9e;
    --antWhite: antiquewhite;
    
  }
  
  .training-container {
  
    background-color: var(--antWhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
  
  .training-container-inner {
    display: flex;
    height: 100vh;
    justify-content: center;
    font-size: 3rem; 
    /* background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; */
    
    color: black;
    /* font-size: 100px; */
   
  }
  
  .training-photos {
      
      height: 300px;
      width: 200px;
      border: solid 5px black;
  }
  
  .photo1 {
  
      width:300px;
  }
  
  
  
   
  
   