.event-outer-container {

        background-color: rgb(194, 206, 216);
        height: 100vh;

}

.spellbound-events {

    
    width: 100vw;
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction: column;

}

.sbf-events-title {
        
        padding: 20px;
}

.clubs-container {

    justify-content: center; 
    display: flex;
    flex-direction: row;
    /* border: black solid; */
    padding: 1rem;
   
}



.club-events {
    width: 48%;
    /* border: blue solid; */
}

.sbf-events {
    

}


.underline-large {

    border: 1px dashed #000; 
    width: 20%; 
    margin: auto; 

}

.sbf-show-list {

        padding-top: 1rem;
        display: flex;
        flex-direction: row
        ;
}

.show-list-item-date {

    list-style-type: none;
}

.show-list-desc {

    margin-left: 2rem;
    list-style-type: none;
}