:root {
  --sbPurple:#6f438e;
  --sbBlue:  #211e61;
  --sbGrey: #9e9e9e;
  --antWhite: antiquewhite;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.services,
.contact,
.events,
.sales,
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}

.home {
  height: 100vh;
  background-image: url("../../Assets/property1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: var(--antWhite);
}

.inside-home {
  -webkit-animation: anim 3s .05s;
          animation: anim 3s .05s;
  font-size: 3rem;
}

.inside-inside-home {
  color: var(--antWhite);
  font-size: 2.5rem;
  margin: 1.2rem;
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.services {
  background-image: url("../../Assets/Sunset_horses.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.outside {
  background-color: #eff5f5;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact {
  background-image: url("../../Assets/stall-windows-inside.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.events {
  background-image: url("../../Assets/saddlepads.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sales {
  background-image: url("../../Assets/img-6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.social {
  background-image: url("../../Assets/arena.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen and (max-width: 960px) {
  .inside-home {
    font-size: 2.5rem;
  }
  .inside-inside-home p {
    font-size: 1.5rem;
    margin: .05rem;
  }
  .outside {
    background-color: #eff5f5;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
