.card {
  max-width: 22rem;
  max-height: 22rem;
}

.card-img-top {
  max-width: 50rem;
}

.card-body {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  display: flex;
}