.facility {
  width: 40%;
  margin: 2rem;
  padding: 2rem;
  border: solid 2px black;
}

.facility h1 {
  margin: 1rem;
}

.facility p {
  justify-content: center;
}

.amenities-list {
  padding-left: 12px;
}

.arena-outer-container {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  height: fit-content;
  border: solid 2px black;
}

.arena-photos {
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 80%;
}

@media screen and (max-width: 960px) {
  .facility {
    width: 100%;
    margin: 2rem;
    padding: 2rem;
  }
}